@use "./mixin";
@use "./variables";
#about-us {
  @include mixin.container;

  & {
    @include mixin.flexBox;

    gap: 9rem;
  }

  @include mixin.tablet {
    flex-direction: column;
  }

  // Image
  .about-us-image {
    flex: 1;

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      max-width: 300px;
      max-height: 300px;
    }
  }

  // Text
  .about-us-text {
    flex: 1;
    @include mixin.flexBox;
    align-items: unset;
    flex-direction: column;
    gap: 20px;

    @include mixin.mobile {
      text-align: center;
    }

    // Subtitle
    h5 {
      color: variables.$main-color;
      font-size: 22px;
      letter-spacing: 6px;
      text-transform: uppercase;
    }

    //Title
    h1 {
      font-size: variables.$h2-font;
      font-weight: 800;
      line-height: 1.3;
    }

    // Description
    p {
      font-size: variables.$p-font;
      line-height: 30px;
      font-weight: 500;
      color: variables.$gray;
    }

    // Button
    button {
      @include mixin.button;
      margin-top: 10px;
      width: fit-content;
    }
  }
}
