@use "./mixin";
@use "./variables";

#educations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
  align-items: center;
  text-align: center;
  @include mixin.container;

  // Education Content

  .education-content {
    @include mixin.flexBox;
    flex-direction: column;
    gap: 15px;
    height: 200px;
    // Image
    .education-image {
      height: 100%;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    // Title

    h4 {
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      transition: variables.$transition;
      &:hover {
        color: variables.$main-color;
      }
    }
  }
}
