@use "./variables";
@use "./mixin";

header {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.44);
  border-radius: 0 0 16px 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  @include mixin.flexBox;
  padding: 27px 17px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  // Logo
  .logo {
    font-size: 33px;
    font-weight: 700;
    white-space: nowrap;

    @include mixin.mobile {
      font-size: 25px;
    }

    // Span
    span {
      color: variables.$main-color;
    }
  }

  // Navigation
  nav {
    @include mixin.flexBox;
    gap: 22px;

    @include mixin.laptop {
      display: none;
    }

    a {
      text-transform: uppercase;
      font-size: variables.$p-font;
      font-weight: 500;
      white-space: nowrap;
      display: inline-block;
      transition: variables.$transition;

      &:hover {
        scale: 1.2;
        color: variables.$main-color;
      }
    }
  }

  // Header Right
  .header-right {
    a,
    button {
      @include mixin.headerIcon;
    }

    a {
      @include mixin.mobile {
        display: none;
      }
    }

    a:first-child {
      font-size: variables.$p-font;
    }

    button {
      background-color: transparent;
      color: variables.$text-color;
    }
  }
}

nav.active {
  display: flex !important;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 100px;
  right: 10px;
  background: rgba(255, 255, 255, 0.44);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 16px;

    a {
        font-size: 0.9rem;
    }
}
